/*
https://app.enhancv.com/resume/new?example=predefined-csPEvL3LqowBgO8XETa0cmoAFylpo28XwcxlfdbV&_gl=1*1u9p42h*_ga*ODg0Mzg3MTA5LjE3MDkwMzY3NjQ.*_ga_4KRKJHBDT0*MTcwOTAzNjc2My4xLjEuMTcwOTAzNjgwNy42MC4wLjE5MzU5MTM5NTk.
*/

/* color: rgb(254, 97, 0); */
/* font-family: 'Rubik', sans-serif; */

body {
    font-family: 'Rubik', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 21cm;
    margin: 0 auto;
    padding: 2cm;
    border: 1px dotted #ccc;
}

.contact {
    display: block;
    align-items: left;
}

.contact.details {
    display: flex;
    flex-direction: row;
    align-items: left;
}

.contact.details.point {
    margin-right: 20px;
}

.material-icons {
    vertical-align: middle;
    margin-right: 3px;
}

.columns {
    display: flex;
    flex-direction: row;
    align-items: left;
}

.experience.consecutive-jobs {
    padding-left: 20px;
}

.experience.position.section {
    border-left: 1px solid #ccc;
    padding-left: 20px;
}

.left {
    flex: 2;
    margin-right: 50px;
}

.right {
    flex: 1;
}

section h2 {
    border-bottom: 4px solid #000;
    /* adjust as needed */
}